#page-header {

  width:100%;



  section.header-section {
    border-bottom: 1px solid #eaeaea;
    min-height: 47px;
    margin-top:0;



    &.lite-grey {
      background: url('../images/texture_tile_2.png') #fff;
      border-bottom: 1px solid #ccc;


    }

    #logo {
      height:40px;
      margin-left: 24px;
      cursor: pointer;
      float:left;
    }


    .upper-right-links {
      float: right;
      width:380px;
      text-align: right;
      padding: 12px;

      a {
        margin-left: 24px;
        font-size: .9rem;
        color:#888;
      }
    }

    nav {
      margin: 0 auto;
      padding: 24px 0 16px;
      height:auto;
      text-align: center;
      border-bottom: 1px solid #eaeaea;


      a {
        text-decoration: none;
        color: #444444;
        text-align: center;
        margin-right: 36px;
        text-transform: uppercase;
        padding-bottom: 14px;
        border-bottom:3px solid transparent;
        transition: all linear 250ms;

        &:hover {
          border-bottom:3px solid #53a4d7;
        }

        &:last-child {
          margin-right: 0;
        }


      }

    }


    .lower-header-bar {
      background: url('../images/texture_tile_2.png') #fff;
      padding: 24px 0;
    }
  }
}