

.white {
  background: $white;
}

.cream-green {
  background: $cream-green;
}

.copper-oxide {
  background: $copper-oxide;
}

.heavy-ocean {
  background: $heavy-ocean;
}

.night-ocean {
  background: $night-ocean;
}