#app-view {
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  clear: both;
}

section {
  margin-top:24px;
}

.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
}